body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #4a4a4a;
}

p {
    font-size: 18px;
}

.download-btn {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 18px;
}

.download-btn:hover {
    background-color: #45a049;
}
